<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.PersonalLancer.ryudigitalprinting">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.PersonalLancer.ryudigitalprinting.Utility.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/logoprinting"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logoprinting"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.PersonalLancer.ryudigitalprinting.LoginRegister.LoginUser"
            android:theme="@style/LoginNoTittleBar"></activity>
        <activity
            android:name="com.PersonalLancer.ryudigitalprinting.KonfirmasiPesana.DetailKonfirmasi"
            android:theme="@style/LoginNoTittleBar" />
        <activity
            android:name="com.PersonalLancer.ryudigitalprinting.KonfirmasiPesana.KonfirmasiPembayaran"
            android:theme="@style/LoginNoTittleBar" />
        <activity
            android:name="com.PersonalLancer.ryudigitalprinting.KonfirmasiPesana.KonfirmasiPesanan"
            android:theme="@style/LoginNoTittleBar" />
        <activity
            android:name="com.PersonalLancer.ryudigitalprinting.StatusOrder.DetailStatusPesanan"
            android:theme="@style/LoginNoTittleBar" />
        <activity
            android:name="com.PersonalLancer.ryudigitalprinting.StatusOrder.StatusOrder"
            android:theme="@style/LoginNoTittleBar" />
        <activity
            android:name="com.PersonalLancer.ryudigitalprinting.EditProfile"
            android:theme="@style/LoginNoTittleBar" />
        <activity
            android:name="com.PersonalLancer.ryudigitalprinting.CetakMMT.CetakUndanganPernikahan"
            android:theme="@style/LoginNoTittleBar" />
        <activity
            android:name="com.PersonalLancer.ryudigitalprinting.CetakMMT.CetakPamflet"
            android:theme="@style/LoginNoTittleBar" />
        <activity
            android:name="com.PersonalLancer.ryudigitalprinting.CetakMMT.CetakKartuNama"
            android:theme="@style/LoginNoTittleBar" />
        <activity
            android:name="com.PersonalLancer.ryudigitalprinting.CetakMMT.OrderSukses"
            android:theme="@style/LoginNoTittleBar" />
        <activity
            android:name="com.PersonalLancer.ryudigitalprinting.CetakMMT.CetakMMT"
            android:theme="@style/LoginNoTittleBar" />
        <activity
            android:name="com.PersonalLancer.ryudigitalprinting.ListCetak.ListCetak"
            android:theme="@style/LoginNoTittleBar" />
        <activity
            android:name="com.PersonalLancer.ryudigitalprinting.LoginRegister.RegisterUser"
            android:theme="@style/LoginNoTittleBar" />
        <activity
            android:name="com.PersonalLancer.ryudigitalprinting.MainActivity"
            android:theme="@style/LoginNoTittleBar" />
        <activity
            android:name="com.PersonalLancer.ryudigitalprinting.SplashScreen"
            android:theme="@style/LoginNoTittleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>